<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Main.Properties.Settings.QL_NHANSU_UDTM1ConnectionString"
            connectionString="Data Source=PHAPVO\PHAPPHAP;Initial Catalog=QL_NHANSU_UDTM1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Main.Properties.Settings.QL_NHANSU_UDTMConnectionString"
            connectionString="Data Source=PHAPVO\PHAPPHAP;Initial Catalog=QL_NHANSU_UDTM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Main.Properties.Settings.QL_NHANSU_UDTMConnectionString1"
            connectionString="Data Source=PHAPVO\PHAPPHAP;Initial Catalog=QL_NHANSU_UDTM;User ID=saaa;Password=123;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>