<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QL_NHANSU_UDTMConnectionString"
            connectionString="Data Source=PHAPVO\PHAPPHAP;Initial Catalog=QL_NHANSU_UDTM;User ID=saaa;Password=123;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.QL_NHANSU_UDTMConnectionString1"
            connectionString="Data Source=NHUHUYNH\HUYNH1526;Initial Catalog=QL_NHANSU_UDTM;Integrated Security=True"
            providerName="" />
    </connectionStrings>
</configuration>